// Body
// $body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Source Sans Pro', 'Nunito', sans-serif;
// $font-size-base: 0.9375rem;
$line-height-base: 1.6;

// Colors
// $blue: #3490dc;
// $indigo: #6574cd;
// $purple: #9561e2;
// $pink: #f66d9b;
// $red: #e3342f;
// $orange: #f6993f;
// $yellow: #ffed4a;
// $green: #38c172;
// $teal: #4dc0b5;
// $cyan: #6cb2eb;

$border-radius:               .2rem !default;
$border-radius-lg:            .2rem !default;
$border-radius-sm:            .125rem !default;