// Fonts
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Font Awesome
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');

// Dropzone
@import 'dropzone';

.navbar-brand {
  font-size: 1.25rem;
}

#search-form .btn-icon {
    color: $gray-300;
    border: none;
    background-color: #0000;
    padding: 7px 2px 2px;
    cursor: pointer;
    margin-left: -28px;
}

.dz-message {
    font-size: 1.25rem;
    color: $gray-400;
}

.main-footer {
    border-top: 1px solid $border-color;
}

html, body {
    height: 100%;
}

/* Mimic table appearance */
div.table {
  display: table;
}
div.table .file-row {
  display: table-row;
}
div.table .file-row > div {
  display: table-cell;
  vertical-align: top;
  border-top: 1px solid $border-color;
  padding: 14px 8px;
}
div.table .file-row > div:first-child {
  padding-left: 0;
}

div.table .file-row:last-child > div {
  border-bottom: 1px solid $border-color;
}

div.table .file-row > div.buttons {
  padding-right: 0;
}

/* The total progress gets shown by event listeners */
#total-progress {
  opacity: 0;
  transition: opacity 0.3s linear;
}

/* Hide the progress bar when finished */
#previews .file-row.dz-success .progress {
  opacity: 0;
  transition: opacity 0.3s linear;
}

/* Hide the delete button initially */
#previews .file-row .delete {
  display: none;
}

/* Hide the start and cancel buttons and show the delete button */

#previews .file-row.dz-success .start,
#previews .file-row.dz-success .cancel {
  display: none;
}
#previews .file-row.dz-success .delete {
  display: block;
}

.preview {
  max-width: 64px;
  max-height: 64px;
}

p.size strong {
  font-weight: $font-weight-normal;
}
p.size {
  font-size: 0.8125rem;
  color: $gray-600;
  line-height: 1.25;
}

.file-icon {
  font-size: 4rem;
  color: $gray-500;
}

.single .file-icon {
  font-size: 6rem;
}

p.name {
  padding-top: 18px;
}

.input-group.file-url {
  padding-top: 12px;
}

div.table .file-row > div.buttons {
  padding-top: 26px;
}

p.name {
  max-width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.25;
}

.signature-label, #inputSuccess, .filetype {
  font-size: 0.875rem;
  color: $gray-600;
}

.lead {
  font-size: 2rem;
  line-height: 1.5;
}

.file-stats, .file-details {
  border-bottom: 1px solid $border-color;
}

.file-stats .badge {
  font-size: 0.875rem;
}

.grid-item { 
  width: 360px; 
}

.card i {
  padding-top: 1.5rem;
}

.card-title {
  font-size: 1rem;
  margin-bottom: 0;
}

.card-text {
  margin-bottom: 0;
}

a.card .card-title {
  color: $gray-900;
}

a.card {
  overflow: hidden;
}

a.card:hover, a.card:focus {
  text-decoration: none;
}

a.card .card-img-top, a.card .file-icon {
  transition: transform .18s;
}

a.card:hover .card-img-top, a.card:focus .card-img-top  {
  transform: scale(1.03);
}

a.card:hover .file-icon, a.card:focus .file-icon {
  transform: scale(1.08);
  color: $gray-600;
}

.badge-views {
  top: 10px;
  left: 10px;
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.875rem;
}

.badge-views i {
  padding-top: 0;
  margin-right: 2px;
}

.page-link {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: $border-radius;
}

.home .content {
  padding-bottom: 8rem;
}

.card-body .link-icon {
  top: 12px;
  right: 12px;
  padding-top: 0;
  opacity: 0;
  color: rgba(0, 0, 0, 0.5);
  transition: opacity .18s;
}

.card:hover .link-icon {
  opacity: 1;
}

.daynight {
  font-size: 1.5rem;
  margin-left: 20px;
  opacity: 0.85;
  transition: opacity .18s;
}

.daynight.night {
  color: $gray-900;
}

.daynight.day {
  color: $gray-100;
}

.daynight:hover, .daynight:focus {
  opacity: 1;
}

body.night {
  $border-color-night: rgba(255, 255, 255, 0.12);
  background-color: $gray-900;
  color: $gray-400;

  #template .name {
    color: $gray-400;
  }

  .main-footer {
    color: $gray-600;
  }

  .navbar-light .navbar-brand {
    color: #fff;
  }

  .navbar-light .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.55);
  }

  .navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
    color: rgba(255, 255, 255, 0.85);
  }

  div.table .file-row > div, .main-footer, .file-stats, .file-details {
    border-color: $border-color-night;
  }

  #actions .btn, #template .btn.view, .progress-bar {
    opacity: 0.85;
  }

  #template .btn.start {
    color: $gray-500;
    border-color: $gray-600;
  }

  #template .btn.cancel {
    color: $gray-600;
    border-color: $gray-700;
  }

  #template .progress {
    background-color: rgba(255, 255, 255, 0.3);
  }

  #template .btn.cancel:hover, #template .btn.cancel:focus {
    background-color: rgba(255, 255, 255, 0.15);
  }

  #template #button-copy-url {
    background-color: rgba(255, 255, 255, 0.2);
    border-color: rgba(255, 255, 255, 0.2);
  }

  #template #button-copy-url:hover, #template #button-copy-url:focus {
    background-color: rgba(255, 255, 255, 0.1);
    border-color: rgba(255, 255, 255, 0.1);
  }

  .btn-outline-success {
    color: #72c586;
    border-color: #72c586;
  }

  .btn-outline-success:hover, .btn-outline-success:focus {
    color: #fff
  }

  .card {
    background-color: rgba(0, 0, 0, 0.2);
    border-color: rgba(255, 255, 255, 0.1);
  }

  a.card .card-title {
    color: rgba(255, 255, 255, 0.7);
  }

  .card-body .link-icon {
    color: rgba(0, 0, 0, 0.75);
  }
  
  .page-link, .page-item.disabled .page-link {
    background-color: transparent;
    color: #8dc4ff;
  }

  .page-item.active .page-link {
    background-color: #4ba2ff;
  }

  .page-link:hover, .page-link:focus {
    background-color: rgba(0, 0, 0, 0.2);
  }

  .navbar-light .navbar-toggler {
    color: rgba(255, 255, 255, 0.5);
    border-color: rgba(255, 255, 255, 0.2);
  }

  .navbar-light .navbar-toggler-icon {
    background-image: $navbar-dark-toggler-icon-bg;
  }

  .file-stats .badge {
    background-color: rgba(0, 0, 0, 0.3);
    color: $gray-300;
  }

  #inputSuccess {
    background-color: rgba(0, 0, 0, 0.3);
  }

}



// MEDIA QUERIES - - -

@media screen and (max-width: 768px) {
  #template .name {
    font-size: 0.875rem;
  }
  div.table .file-row > div.buttons {
    padding-top: 15px;
  }
  .buttons .btn:first-of-type {
    margin-bottom: 5px;
  }
  p.name {
    max-width: 70px;
  }
}

@media screen and (max-width: 992px) {
  #actions .btn {
    margin-bottom: 7px;
  }
  p.name {
    max-width: 150px;
  }
}

@media screen and (min-width: 992px) {
  .buttons .btn:last-of-type {
    margin-left: 7px;
  }
}


.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
}